@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
#navbarContainer{
    margin-top: 20px;
}
#navbar{
    width: 85%;
    height: 50px;
    margin: auto;
    display: flex;
}
#navbar>#nav_left{
    background-image: url("https://www.masaischool.com/img/navbar/logo.svg");
    height: 100%;
    width: 10%;
    background-repeat: no-repeat;
    background-position: center;
}
#navbar>#nav_mid{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
}
#mid_container{
    height: 100%;
    display: flex;
    width: 92%;
}
#mid_container>#left{
    padding: 0px 20px;
    width: 75%;
}
#mid_container>#left>.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    height: 100%;
}
#mid_container>#left>.list>li{
    list-style: none;
    cursor: pointer;
}

#navbar>#nav_right{
    width: 10%;
}
#nav_right>.btn{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: red;
    border: 2px solid;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}
#nav_right>.btn:hover{
    background-color: #f7e4e8;
}
.btn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: #6E71CC;
    background-color: #F2FDFF;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0px 15px
}
.btn:hover{
    background-color: #c5ecf3;
}
